<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style.css">
    <%- include ("./partials/nav.ejs") %>
    <%- include("./partials/head.ejs") %>
    <body>
        <center><h2>This is Homepage</h2></center>
        <a href="/secret">Secret</a>
    </body>
    </html>