<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style.css">
    
    <%- include("./partials/head.ejs") %>
    <body>
        <center><h2>OOPS..PAGE NOT FOUND</h2></center>
    </body>

</html>